{%  extends "base.html" %}
{%  load static %}
{% block content %}



<div id="module_home">

  <div class="padding">
    <div class="container-fluid" id="underlay">
        <div class="module-text">
            <h1>Bokeh-grafer</h1>
        </div>
    </div>
  </div>

<div class="padding">
  <div class="container-fluid">
      <div class="row justify-content-center">

        <div class="container underlay">

            <h3>Testresultater</h3>

            <div class="padding">

                <!-- insert bokeh graph here -->
                {{ div | safe}}

            </div>

        </div>

      </div>
  </div>
</div>

</div>


<!-- JS libraries for the Bokeh chart library -->
<!-- See: https://docs.bokeh.org/en/1.4.0/docs/user_guide/quickstart.html -->
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-1.4.0.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-1.4.0.min.js"></script>
{{ script | safe }}

{% endblock content %}

