{%  extends "base.html" %}
{%  load static %}
{% block content %}
{% load crispy_forms_tags %}


<div id="module_home">

  <div class="padding">
    <div class="container-fluid" id="underlay">
        <div class="module-text">
            <h1>GUI-demo</h1>
        </div>
    </div>
  </div>

<div class="padding">
  <div class="container-fluid">
      <div class="row justify-content-center">

        <div class="container underlay">

            <div class="padding">
                <h3>Demo af GUI-elementer</h3>
                <p class="text-justify">
                    På denne side kan du se forskellige GUI-elementer til Webinterface.
                    I den tilhørende kode (Python og HTML/DTL), kan du se, hvordan du indsætter elementerne.
                </p>

                <p class="text-justify">
                    Her er et link til noget spændende:
                    <a href="https://www.analog.com/media/en/technical-documentation/data-sheets/ADXL345.pdf"
                    target="_blank">Prøv mig</a>
                </p>

                <p class="text-justify">
                    Længere nede på siden kan du se en figur og formularelementer til indtastning af data.
                </p>
            </div>

            <div class="padding">
                <h3>Demo af figur</h3>
                <p class="text-justify">
                    Herunder ser du et powerspektrum for et signal indeholdende tre forskellige toner,
                    med tre forskellige amplituder.<br/>
                    Samplingsfrekvensen er 16 kHz.
                </p>
                <div class="container-fluid text-center">
                <!-- insert bokeh graph here -->
                {{ div | safe}}
                </div>

            </div>

            <div class="padding">
                <h3>Demo af formularelementer</h3>
                {% crispy form %}
            </div>

        </div>

      </div>
  </div>
</div>

</div>


<!-- JS libraries for the Bokeh chart library -->
<!-- See: https://docs.bokeh.org/en/1.4.0/docs/user_guide/quickstart.html -->
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-1.4.0.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-1.4.0.min.js"></script>
{{ script | safe }}

{% endblock content %}

