{%  extends "base.html" %}
{%  load static %}
{% block content %}


<div id="module_home">

  <div class="padding">
    <div class="container-fluid" id="underlay">
        <div class="module-text">
            <h1>Demo-modul</h1>
            <h3>Velkommen til demo-modulet...</h3>
        </div>
    </div>
  </div>


<div class="padding">
  <div class="container">
      <div class="row justify-content-center">

          <div class="card-deck">

            <div class="card">
             <!-- <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h5 class="card-title">Information</h5>
                <p class="card-text">Information om prøvestanden og tilgængelige komponenter.</p>
                <a href="{% url 'demo_show_info' %}" class="btn btn-primary">Se mere info</a>
              </div>
            </div>

            <div class="card">
             <!-- <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h5 class="card-title">Opret test</h5>
                <p class="card-text">Opret en ny test til afvikling i demo-prøvestand (stub).</p>
                <a href="{% url 'demo_middle_link' %}" class="btn btn-primary">Opret test</a>
              </div>
            </div>

            <div class="card">
             <!-- <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h5 class="card-title">Se data</h5>
                <p class="card-text">Se og hent data for afviklede tests (fra teststub).</p>
                <a href="{% url 'demo_show_result' %}" class="btn btn-primary">Se data</a>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">GUI-demo</h5>
                <p class="card-text">Se demo på GUI-elementer</p>
                <a href="{% url 'demo_gui' %}" class="btn btn-primary">Se demo</a>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Stream-demo</h5>
                <p class="card-text">Se demo på videostream</p>
                <a href="{% url 'demo_stream' %}" class="btn btn-primary">Se stream</a>
              </div>
            </div>

          <!--
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Se webcam</h5>
                <p class="card-text">Se videofeed fra test under afvikling.</p>
                <a href="#" class="btn btn-primary">Se webcam</a>
              </div>
            </div>
          </div>
        -->

        </div>
      </div>
  </div>
</div>

</div>

<!-- managed via the css file -->

{% endblock content %}

