{%  extends "base.html" %}
{%  load static %}
{% block content %}


<div id="module_home">

  <div class="container-fluid">
    <div class="module-text">
      <h1>Demo-modul</h1>
      <h3>Velkommen til demo-modulet...</h3>
    </div>
  </div>

  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-6">
            <div class="card" style="width: 18rem;">
             <!-- <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h5 class="card-title">Opret test</h5>
                <p class="card-text">Opret en ny test til afvikling i demo-prøvestand (stub).</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="card" style="width: 18rem;">
             <!-- <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h5 class="card-title">Se data</h5>
                <p class="card-text">Se data for afviklede tests (fra teststub).</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
      </div>
  </div>

</div>

<!-- managed via the css file -->

{% endblock content %}

